.modal-main-message {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.modal-main-actions {
  display: block;
  text-align: center;
}

.modal-main-actions button:not(:last-child) {
  margin-right: 0.5rem;
}
