.card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 1rem;
}

.card-body-elements {
  flex: 1 1 auto;
  margin-right: 1rem;
}

.card-body-actions {
  flex: 0 1 auto;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
}

.card-body-action  {
  flex: 0 0 auto;
  align-self: center;
}

.card-body-actions .card-body-action:not(:last-child){
    margin-right: 0.5rem;
}
