.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  background: white;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 1rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-main-btn-close {
    display: inline;
    float: right;
}
